<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
</head>
<body>
    <header>
        {{template "headerFragment" .}}
    </header>

    <main>
        {{template "mainContentFragment" .}}

        <h3>Features</h3>
        <ul>
            {{range .Features}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </main>

    <footer>
        お問い合わせは、{{ .Name}}までご連絡ください。<a href="mailto:golang@example.com">golang@example.com</a>
        <ul>
            {{range $key, $value := .Socials}}
            <li>{{$key}} : {{$value}}</li>
            {{end}}
        </ul>
    </footer>
</body>
</html>